.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.container {
	margin: 0 auto;
	padding: 0 var(--padding-lr-container);
	width: 100%;
	max-width: var(--max-width-container);
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--padding-lr-container-tablet);
  }
}

.disable-scroll {
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
