.clients {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .clients {
    padding-top: 41px;
  }
}

.clients__container {
  padding-right: 0;
}

@media (min-width: 768px) {
  .clients__container {
    padding-right: var(--padding-lr-container-tablet);
  }
}

.clients__title {
  margin-bottom: 5px;

  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-main);
}

@media (min-width: 768px) {
  .clients__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.clients__table-container {
  margin-bottom: 40px;
  overflow-x: auto;
}

@media (min-width: 1024px) {
  .clients__table-container {
    overflow: hidden;
  }
}

.clients__table {
  width: 100%;
  margin-right: var(--padding-lr-container);
}

@media (min-width: 768px) {
  .clients__table {
    margin-right: 0;
  }
}

.clients__add-client-btn {
  margin: 0 auto;
}

.clients__add-client-btn svg {
  margin-right: 10px;
  width: 22px;
  height: 18px;
}
