.filter-btn {
  font-weight: 400;
  line-height: 1;
  color: var(--accent-color-main);
  text-transform: uppercase;

  transition: color .3s ease-in-out;
}

.filter-btn:focus-visible {
  color: var(--text-secondary);
  transition: color .3s ease-in-out;
}

@media (min-width: 1024px) {
  .filter-btn:hover {
    color: var(--text-color-main);
    transition: color .3s ease-in-out;
  }
}

.filter-btn--id {
  font-size: 1em;
}

.filter-btn--name {
  font-size: .835em;
  font-weight: 600;
}

.filter-btn__arrow {
  --size: 8px;

  width: var(--size);
  height: var(--size);
  transition: opacity .3s ease-in-out;
}

.filter-btn__arrow--down {
  transform: rotate(-180deg);
}

.filter-btn:focus-visible .filter-btn__arrow {
  opacity: .7;
  transition: opacity .3s ease-in-out;
}
