.header {
  box-shadow: 0 3.39px 5.64px rgba(176, 190, 197, .32),
              0 9.03px 27.09px rgba(176, 190, 197, .32);
}

.header__container {
  --padding-tb: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: var(--padding-tb);
  padding-bottom: var(--padding-tb);
}

@media (min-width: 768px) {
  .header__container {
    --padding-tb: 20px;

    justify-content: start;
  }
}

.header__logo {
  --logo-size: 24px;

  width: var(--logo-size);
  height: var(--logo-size);
}

@media (min-width: 768px) {
  .header__logo {
    --logo-size: 50px;

    margin-right: 53px;
  }
}

.header__search-field {
  --search-field-width: 581px;

  display: none;
  border: 1px solid #d6d6d6;
  padding: 11px 15px 12px;
  width: var(--search-field-width);

  font-size: 14px;
  line-height: 1;
}

.header__search-field::placeholder {
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .header__search-field {
    display: inline;
  }
}
