.delete-client-modal__window {
  padding: 22px 13px;
  min-height: 215px;
  width: 100%;
  max-width: 300px;
}

@media (min-width: 768px) {
  .delete-client-modal__window {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  .delete-client-modal__close-btn {
    padding: 23px 20px;
    max-width: 450px;
  }
}

.delete-client-modal__title {
  margin-bottom: 12px;
  padding-right: 20px;
  text-align: center;
}

.delete-client-modal__descr {
  margin: 0 auto 26px;
  max-width: 275px;

  font-size: 14px;
  text-align: center;
}
